body{
    display:flex;
    flex-flow: column nowrap;


}

.header{
    
    width:100vw;
    height:480px;
    background-color:#1f2937;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:flex-start;
    gap:16px;
    
}
.logo{
    display:flex;
    align-items:center;
    gap:16px;


}
#logoimg{
    height:48px;
    width:48px;
    border: 4px solid #3882f6;
    border-radius:50px;
}
#logotext{
    font-size:24px;
    color:#f9faf8;
    font-weight:bold;
}

ul{
    list-style:none;
    display:flex;
    flex-flow:row nowrap;
    gap:10px;

}

a{
    text-decoration:none;
    color:#e5e7eb;
    font-size:18px;
}

.nav{
    width:70vw;
    display:flex;
    justify-content:space-between;
    padding:15px;
    
}

.box{
    display:flex;
    justify-content:center;
    gap:16px;
}

.boxtext{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    width:500px;
    gap:0px;

}

#boxhead{
    font-size:48px;
    color:#f9faf8;
    font-weight:bolder;
    margin:0px;

}

#boxsubtext{
    color:#e5e7eb;
    font-size:18px;
    
}

#signup{
    background-color:#3882f6;
    color:white;
    border-radius:10px;
    font-weight:bolder;
    height:35px;
    width:140px;
}

.boximg{
       height:250px;
       width:400px;
}

.content{
    display:flex;
    flex-flow:column nowrap;
    width:100vw;
}

.info{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    height:450px;
    /* width:55vw; */
}

#infohead{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}

.infobox{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    width:200px;
    gap:32px;
    
}

.infoimg{
    height:140px;
    width:140px;
    border:4px solid #3882f6;
    border-radius:10px;

}

.infotext{
    width:150px;
    padding:0px;
    margin:0px;
}

.quote{
    background-color:#E5E7EB;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    height:600px;
    
}

#q{
    font-size:36px;
    font-style:italic;
    font-weight:lighter;
    color:#1f2937;

    width:50vw;
}

#b{
    font-size:24px;
    text-align:right;
    font-weight:bold;
    width:50vw;
}

.cta{
     height:300px;
     width:100vw;
     display:flex;
     justify-content:center;
     align-items:center;
     
}

.ctabox{
    display:flex;
    flex-flow:row nowrap;
    background-color: #3882f6;
    width:55vw;
    height:120px;
    justify-content:space-around;
    align-items:center;
    border-radius:25px;
}

.ctatext{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;

}

#ctahead{
    font-size:20px;
    color:#f9faf8;
    font-weight:bold;
    margin:0px;
}

#ctasubtext{
    font-size:20px;
    color:#f9faf8;
    font-weight:light;
    margin:0px;
}

#ctabutton{
    border:3px solid #f9faf8;
    border-radius: 10px;
    height:35px;
    width:100px;
    background-color:#3882f6;
    color:#f9faf8;
    font-weight:bold;
    
}
.footer{
    background-color:#1f2937; 
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;
}